.primary-top-bar2{
  top: 70px;
  color: #455a64;
  text-align: center;
  font-size: 17px;
  position: relative;
}
@media (min-width: 900px){
.primary-top-bar2{
  top: 70px;
  color: #455a64;
  font-size: 17px;
}
}
@media  (max-width: 899px) and (min-width: 767px){
  .primary-top-bar2{
    font-size: 12px;
  }
}

/*KPI*/
.botones{
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
